html,
body {
  margin: 0vh;
  padding: 0;
}

.container {
  margin: 0;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #3e6add;
  max-width: 200vh;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: initial;
  margin: 0vh;
}

.jobName {
  font-size: 500%;
}

.log {
  color: white;
  background-color: #004aad;
  width: 10vh;
  height: 5vh;
  border-radius: 40vh;
  margin-right: 10vh;
  font-size: 2vh;
}

.signupUser {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 150%;
}
.signupCompany {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 150%;
}
.Reset {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100%;
}
