<<<<<<< HEAD
.container{
    margin: -3%;
    margin-top: 0;
    padding: 0; 
}
=======
.body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
>>>>>>> 4d0f21c4dd09a7bfaf56e95b24a0f30d2e9d2fdf
